/* loader.css */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen loader */
}

.svg-wrapper {
  position: relative;
  text-align: center;
}

.svg-wrapper img {
  height: 200px;
  width: 200px;
  /* Adding some effects similar to SVG's style */
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease;
}

.svg-wrapper img:hover {
  transform: scale(1.05); /* Slight scaling on hover */
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  color: #fdd948;
  font-family: Arial, sans-serif;
  font-weight: bold;
}



/* .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4; 
  }
  
  .svg-wrapper {
    text-align: center;
    animation: fadeIn 2s ease-in-out infinite;
  }
  
  .loading-text {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    animation: pulse 1.5s infinite ease-in-out;
  }
  

  @keyframes fadeIn {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
 
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.7;
    }
  }
   */
